alfanous
django==1.9
django-appconf==1.0.2
distribute
pyparsing==2.0.1
wsgiref==0.1.2
django-debug-toolbar==1.4
dj-database-url
djangorestframework
dynamic-rest
django-rest-swagger
markdown
django-filter
https://github.com/darklow/django-suit/tarball/v2
django_compressor
csscompressor
brotlipy
whitenoise==4.1.4
django-htmlmin
django-swagger-ui
gunicorn
